Package: pearl
Version: 0.3.4-beta
Architecture: amd64
Depends: libxcb-cursor0
Maintainer: Phillip Schneider <bugs@phillipplays.com>
Section: utils
Priority: optional
Homepage: https://github.com/pdschneider/Pearl
Description: Pearl is a private AI assistant which uses Ollama under the hood to generate text.
 Pearl features dynamic context switching, an interactive install for Ollama, Docker and Kokoro, and extreme privacy in mind.
 .
 No data leaves the local machine by default.
